pandas
joblib
google_play_scraper==1.2.6 # must be hand-fixed using https://github.com/JoMingyu/google-play-scraper/issues/209
requests==2.31.0
beautifulsoup4==4.12.2
scikit-learn==1.3.2
scikit-posthocs==0.8.0
vadersentiment==3.3.2
git+https://github.com/AndreasKarasenko/lime.git
shap==0.45.0
tensorflow[and-cuda]==2.14
tqdm==4.66.2
nltk==3.8.1
xgboost==2.0.3

# be sure to first install punkt --> see setup.py
# For the cuML requirements see the comments in ./cuML_install.txt

# for formatting
black==24.3.0
# for saving to xlsx
openpyxl==3.1.2

# for cuml and local clusters
dask[complete]==2024.1.1
dask-ml==2024.4.4

# for skopt
scikit-optimize==0.10.1

# for deep learning
datasets==2.19.0
# for llm prompting
scikit-llm==1.0.0
# see also reqs_setfit.txt
